{% extends 'base.html' %}

    {% block content %}
    
<div class="container">
    <div class="row">
            <a href="{% url 'post:create' %}" class="col-4-sm mx-auto my-3 btn btn-primary">Create New Post</a> <br>
    </div>
        
</div>
   
    

<div class="container">

    {% for obj in post_list %}
    <div class="row">
    <div class="card mb-3 col-sm-6 mx-auto" style="width: 18rem;">
            {% if obj.image.url %}
            <div class="row">
                    <div class="col-sm-12 " style="width: 18rem;">
                              <img src="{{obj.image.url}}" alt="xd" class="img-thumbnail" style="width: 500px;height: 400px;">
                      </div>
        
                   </div>
            {% endif %}
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="row">
                    <div class="col-sm-6 mx-auto" style="width: 18rem;">
                      <div class="card-body  ">
                        <h5 class="card-title">{{obj.title|title}} <small>{{obj.timestamp|timesince}} ago</small></h5>
                         <p class="card-text">{{obj.content|truncatechars:120}}</p>
                            <a href="{{obj.get_absolute_url }}" class="btn btn-primary">Details</a>
                              <a href="{% url 'post:update' obj.pk %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'post:delete' obj.pk %}" class="btn btn-primary">Delete</a>
            </div>
        
          </div>
        </div>
        
    </div>
        </div>

   
     
    
    {% endfor %}
</div>

<div class="pagination">
        <span class="step-links">
            {% if post_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ post_list.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
            </span>
    
            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">next</a>
                <a href="?page={{ post_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


    {% endblock content %}
    
