{% extends 'base.html' %}
{% block content %}



<div class="container">

        <div class="card col-sm-12 mx-auto" style="min-height: 500px !important;">
            {% if post.image.url %}
                <img src="{{post.image.url}}" alt="xd" class="img-thumbnail">
            {% endif %}
    <div class="card-body">
            <h5 class="card-title">{{post.title|title}} <small>{{post.timestamp|timesince}} ago</small></h5>
            <hr>
            <p class="card-text">{{post.content|truncatechars:120}}</p>
            
          </div>
        </div>
    
    </div>

{% endblock content %}